<center><h1>West Point Barracks</h1></center>
<a href="/AMIApp/">Return to Home Page</a><br>
<br>

<b>Select a Barracks to View a list of Barracks Rooms</b><br>
<ul>
    <li><a href="/AMIApp/">Brad Long</a></li>
    <li><a href="/AMIApp/">Brad Short</a></li>
    <li><a href="/AMIApp/Davis/">Davis</a></li>
    <li><a href="/AMIApp/">Eisenhower</a></li>
    <li><a href="/AMIApp/">Grant</a></li>
    <li><a href="/AMIApp/">Lee</a></li>
    <li><a href="/AMIApp/">Mac Long</a></li>
    <li><a href="/AMIApp/">Mac Short</a></li>
    <li><a href="/AMIApp/">Pershing</a></li>
    <li><a href="/AMIApp/">Scott</a></li>
</ul>
