<a href="/AMIApp/">Return to Home Page</a><br>
<center><h1>West Point Barracks</h1></center>

<b>Select a Barracks to View a list of Barracks Rooms</b><br>
<ul>
    <li><a href="/AMIApp/Brad_Long/">Brad Long</a></li>
    <li><a href="/AMIApp/Brad_Short/">Brad Short</a></li>
    <li><a href="/AMIApp/Davis/">Davis</a></li>
    <li><a href="/AMIApp/Eisenhower/">Eisenhower</a></li>
    <li><a href="/AMIApp/Grant/">Grant</a></li>
    <li><a href="/AMIApp/Lee/">Lee</a></li>
    <li><a href="/AMIApp/Mac_Long/">Mac Long</a></li>
    <li><a href="/AMIApp/Mac_Short/">Mac Short</a></li>
    <li><a href="/AMIApp/Pershing/">Pershing</a></li>
    <li><a href="/AMIApp/Scott/">Scott</a></li>
</ul>
